<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Homepage</title>
</head>
<body>
    {% include 'navigation.html' %}
    <br>
    <form action="">
        <div>
            <button style="display:block; margin: 0 auto;">
                <a href="{% url 'clt_dc_order' %}">Order Doctor Card</a>
            </button>
        </div>
        <br>
        <div>
            <button style="display:block; margin: 0 auto;">
                <a href="{% url 'clt_mt_order' %}">Order Medical Test</a>
            </button>
        </div>
        <br>
        <div>
            <button style="display:block; margin: 0 auto;">
                <a href="{% url 'clt_card_reg' %}">Register Card</a>
            </button>
        </div>
        <br>
        <div>
            <button style="display:block; margin: 0 auto;">
                <a href="{% url 'clt_region' %}">Find Region</a>
            </button>
        </div>
        <br>
        <div>
            <button style="display:block; margin: 0 auto;">
                <a href="{% url 'clt_c_search' %}">Find Cure</a>
            </button>
        </div>
        <br>
        <div>
            <button style="display:block; margin: 0 auto;">
                <a href="{% url 'clt_h_search' %}">Find Hospital</a>
            </button>
        </div>
        <br>
        <div>
            <button style="display:block; margin: 0 auto;">
                <a href="{% url 'home' %}">Exit</a>
            </button>
        </div>
  </form>
</body>
</html>
