<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital Search</title>
</head>
<body>
    {% include 'navigation_client.html' %}
    <br>
    <table cellspacing="2" border="1" cellpadding="5">
        <th>Title</th><th>Info</th><th>Sections</th>
        {% for hospital in hospitals %}
        <tr>
            <td>{{ hospital.title }}</td>
            <td>{{ hospital.info }}</td>
            <td>{{ hospital.specialities }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>

    <form action="{{ cures_search }}" method="get">
        <input type="text" name="hospital_search" placeholder="hospital title">
        <input type="submit" value="search">
    </form>

</body>
</html>