<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Doctor Card</title>
</head>
<body>
  {% include 'navigation_client.html' %}
    <h2>Select Doctor Card</h2>
    <form action="doctor_cards_list">
      {% csrf_token %}
      <select name="hospitals">
      {% for hospital in hospitals %}
        <option name="hospital">{{hospital}}</option>
      {% endfor %}
      </select>
      <br>
      <br>
      <select name="specialities">
      {% for speciality in specialities %}
        <option name="speciality">{{speciality}}</option>
      {% endfor %}
      </select>
      <br>
      <br>
      <select name="names">
      {% for st in staff %}
        <option name="name">{{st}}</option>
      {% endfor %}
      </select>
      <br>
      <br>
      <select name="date">
      {% for d in date %}
        <option name="date">{{d}}</option>
      {% endfor %}
      </select>
      <br>
      <br>
      <select name="time">
      {% for t in time %}
        <option name="time">{{t}}</option>
      {% endfor %}
      </select>
      <br>
      <br>
      <input type="submit" value="match">
    </form>
</body>
</html>