<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resiter Staff Requests</title>
</head>
<body>
    {% include 'navigation_admin.html' %}
    <br>
    <h2>Staff Registration Requests</h2>
    <table cellspacing="2" border="1" cellpadding="5">
        <th>Name</th><th>Speciality</th><th>Hospital</th><th>Phone</th><th>Email</th><th>Accept</th><th>Reject</th>
        {% for cr in staff_requests %}
        <tr>
            <td>{{ cr.name }}</td>
            <td>{{ cr.speciality }}</td>
            <td>{{ cr.hospital_title }}</td>
            <td>{{ cr.phone }}</td>
            <td>{{ cr.email }}</td>
            <td>
              <button>
                <a href="{% url 'adm_sreg' %}">Accept</a>
            </button>
            </td>
            <td>
              <button>
                <a href="{% url 'adm_sreg' %}">Reject</a>
              </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>