<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Registration Menu</title>
</head>
<body>
    {% include 'navigation_staff.html' %}
    <br>
    <h2>Card Registration Request</h2>
    <table cellspacing="2" border="1" cellpadding="5">
        <th>Name</th><th>Address</th><th>Passport Date</th><th>Age</th><th>Accept</th><th>Reject</th>
        {% for cr in card_requests %}
        <tr>
            <td>{{ cr.name }}</td>
            <td>{{ cr.address }}</td>
            <td>{{ cr.passport_data }}</td>
            <td>{{ cr.age }}</td>
            <td>
              <button>
                <a href="{% url 'stf' %}">Accept</a>
            </button>
            </td>
            <td>
              <button>
                <a href="{% url 'stf' %}">Reject</a>
              </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>