<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
    {% include 'navigation_staff.html' %}
    <br>
    <h2>Card Registration Request</h2>
    <table cellspacing="2" border="1" cellpadding="5">
        <th>ID</th><th>Hospital</th><th>Speciality</th><th>Cabinet No.</th><th>Date</th><th>Time</th>
        {% for dc in doctor_card %}
        <tr>
            <td>{{ dc.id }}</td>
            <td>{{ dc.hospital_title }}</td>
            <td>{{ dc.doctor_speciality }}</td>
            <td>{{ dc.cabinet_no }}</td>
            <td>{{ cr.date }}</td>
            <td>{{ cr.time }}</td>
            <td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>