<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Homepage</title>
</head>
<body>
    {% include 'navigation.html' %}
    <br>
    <form action="">
        <div>
            <button style="display:block; margin: 0 auto;">
                <a href="{% url 'stf_lst' %}">Patients List</a>
            </button>
        </div>
        <br>
        <div>
            <button style="display:block; margin: 0 auto;">
                <a href="{% url 'stf_rr' %}">Medical Card Registration Request</a>
            </button>
        </div>
        <br>
        <div>
            <button style="display:block; margin: 0 auto;">
                <a href="{% url 'home' %}">Exit</a>
            </button>
        </div>
    </form>
</body>
</html>